<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>	
<body>
	<h1>認知行動療法 7コラム法 記事詳細ページ</h1>
	  <table border="1">
	    <thead>
        <tr>
			<th>見出</th>
            <th>内容</th>
        </tr>
    </thead>
    <tbody>
		<tr>
			<td>ID</td>
			<td th:text="${columns.columnId}"></td>
        </tr>
        <tr>
			<td>日付</td>
			<td th:text="${columns.editDate}"></td>
        </tr>
        <tr>
			<td>題名</td>
			<td th:text="${columns.title}"></td>
        </tr>
        <tr>
			<td>出来事</td>
			<td th:text="${columns.event}"></td>
        </tr>
        <tr>
			<td>気分</td>
			<td th:text="${columns.emotion}"></td>
        </tr>
        <tr>
			<td>ネガティブな考え</td>
			<td th:text="${columns.negative}"></td>
        </tr>
        <tr>
			<td>認知の歪み</td>
			<td th:text="${columns.distortion}"></td>
        </tr>
        <tr>
			<td>考えの根拠</td>
			<td th:text="${columns.reason}"></td>
        </tr>
        <tr>
			<td>考えへの反証</td>
			<td th:text="${columns.disproof}"></td>
        </tr>
        <tr>
        	<td>別の考え</td>
        	<td th:text="${columns.another}"></td>
        </tr>
        <tr>
			<td>感情の変化</td>
			<td th:text="${columns.changeEmo}"></td>
        </tr>
    </tbody>
	</table>
</body>
</html>