<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>一覧画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSSの読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>	
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-dark" href="#">日記録 | 認知行動療法サイト</a>
	<!--<p th:text="'ログインユーザー：' + ' ' + ${user.getUserName()}"></p></nav>-->
	<h1>日記録リスト</h1>
	<form method="get" th:action="@{/input(user=${user})}">
		<button type="submit" class="btn btn-success">新規作成</button>
	</form>
	<table border="1" class="table table-striped">
    <thead class="thead-light">
        <tr>
			<th>ID</th>
            <th>日付</th>
            <th>題名</th>
            <th>気分</th>
        </tr>
    </thead>
    <tbody>
		<!-- 押下されたらcolumnIdをControllerへ渡す -->
        <tr th:each="line : ${headLine}">
			<td>
				<a th:href="@{/detail(columnId=${line.columnId}, user=${user})}">
					<span th:text="${line.columnId}"></span>
				</a>
			</td>			
	        <td th:text="${line.editDate}"></td>
	        <td th:text="${line.title}"></td>
	        <td th:text="${line.emotion}"></td>
        </tr>
    </tbody>
	</table>
</body>
</html>